{{ block "page" . }}
<!doctype html>
<html>
    <head>
        <script src="assets/htmx@1.6.1.js"></script>
        <link rel="stylesheet" href="assets/styles.css"></link>
    </head>
    <body>
        <h1>My Blog</h1>
        <div
            hx-get="http://localhost:12345/posts"
            hx-trigger="load"
            hx-swap="outerHTML"
            class="posts"
        ></div>
        <h1>Selected Post</h1>
        <button
            hx-get="http://localhost:12345/posts/1"
            hx-trigger="click"
            hx-target="#selected-post"
        >select post 1</button>
        <button
            hx-get="http://localhost:12345/posts/2"
            hx-trigger="click"
            hx-target="#selected-post"
        >select post 2</button>
        <div
           id="selected-post"
        ></div>
        <h1>Create Post</h1>
        {{ template "create-post" . }}
    </body>
</html>
{{ end }}
